/* Customizer */
.widget-area .widget_block {
    min-width: 0;
}

@media only screen and (min-width: 1024px) {
    .widget-area {
        /*
			Fix: minimum width of 0
			See: https://css-tricks.com/preventing-a-grid-blowout/
		*/grid-template-columns: repeat( 3, minmax(0, 1fr) );
    }
}
