.wp-block-columns {
    display: flex;
    margin-bottom: 1.75em;
    box-sizing: border-box;
    flex-wrap: wrap
}

@media (min-width: 782px) {
    .wp-block-columns {
        flex-wrap:nowrap
    }
}

.wp-block-columns:where(.has-background) {
    padding: 1.25em 2.375em
}

.wp-block-columns.are-vertically-aligned-top {
    align-items: flex-start
}

@media (min-width: 782px) {
    .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
        flex-basis:0;
        flex-grow: 1
    }

    .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column[style*=flex-basis] {
        flex-grow: 0
    }

    .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column:not(:first-child) {
        margin-left: var(--wp--style--block-gap,2em)
    }
}

.wp-block-column {
    flex-grow: 1;
    min-width: 0;
    word-break: break-word;
    overflow-wrap: break-word
}

.wp-block-column.is-vertically-aligned-top {
    align-self: flex-start
}

.wp-block-column.is-vertically-aligned-center {
    align-self: center
}

.wp-block-column.is-vertically-aligned-bottom,.wp-block-column.is-vertically-aligned-center,.wp-block-column.is-vertically-aligned-top {
    width: 100%
}

@media (min-width: 600px) and (max-width: 781px) {

    .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column:nth-child(2n) {
        margin-left: var(--wp--style--block-gap,2em);
    }

    .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column:not(:only-child) {
        flex-basis: calc(50% - var(--wp--style--block-gap, 2em)/2)!important;
        flex-grow: 0;
    }
}

@media only screen and (min-width: 482px) {

    .wp-block-columns .wp-block-column:not(:last-child) {
        margin-bottom: var(--global--spacing-vertical);
    }

}

h1,h2,h3,h4,h5,h6 {
    overflow-wrap: break-word
}

.wp-block-button__link {
    color: #fff;
    background-color: #32373c;
    border-radius: 9999px;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1.125em;
    padding: calc(.667em + 2px) calc(1.333em + 2px);
    text-align: center;
    text-decoration: none;
    word-break: break-word;
    box-sizing: border-box;
}

.wp-block-image {
    margin: 0 0 1em
}

.wp-block-image img {
    vertical-align: bottom
}

.wp-block-image figcaption {
    margin-top: .5em;
    margin-bottom: 1em
}

.wp-block-image.is-style-circle-mask img,.wp-block-image.is-style-rounded img {
    border-radius: 9999px
}

ol,ul {
    overflow-wrap: break-word
}

p {
    overflow-wrap: break-word
}

.wp-block-spacer {
    clear: both
}

:root {
    --wp--preset--font-size--normal: 16px;
    --wp--preset--font-size--huge: 42px
}

.has-text-align-center {
    text-align: center
}

.screen-reader-text {
    border: 0;
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal!important
}
